.capitalize {
    text-transform: capitalize;
}

.select2-container--default .select2-selection--single {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b:after {
    line-height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 40px;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 450px;
    left: 880px;
    z-index: 100;
}

.bold {
    font-weight: bold;
}

.highlight-row {
    background-color: #f52d2da6 !important;
}

textarea.input-sm {
    height: 100px !important;
}

.select2_model{
    width: 250px;
}
.input-height-39{
	height: 39px !important;
}